.menu__lista--item a {
    font-weight: bold;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    padding: 7px;
    background-color: #CAD0ED;
}

.menu__lista--item a:hover {
    background-color: #C6E8F7;
}